{
  "TOKEN": "MTAxODI0NTgxMDE1ODMxMzQ5Mg.GQjrJi.AaK2XA57-XD__1uQIgKVS3gOeS9apDb8FDiuvM",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "?",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
